body {
    background-color: slategrey;
    margin: 0;
}

body, button, input {
    font-family: consolas;
    font-size: 1.5em
}

label {
    font-size: 1.5em;
}

a {
    color: black;
}
td input, li input{
    width: 100px;
}
table{
    border-collapse:collapse;
}
td{
    padding: 12px 24px;
    border: 1px solid #aaaaaa;
}
.addRow{
    Width:100px;
    border:solid black;
    display:none;
}
tr.active td .addRow{
    display:block;
}
.buttons{
    border:none;
}
.titles li, .innings li{
    display: inline-block;
}

.scoreSheet li ul li{
    width: 120px;
}
#heading {
    color: whitesmoke;
    position: fixed;
    right: -300px;
    top: 12px;
    margin:0; padding: 0;
}

.box {
    margin: 12px;
    background-color: #d3d3d3;
    font-size: .75em;
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

#players {
    background-color: #d3d3d3;
    font-size: .75em;
    margin: 100px auto 0 auto;
    width: 95%;
}
